<div class ="col-xs-10 col-xs-offset-1 about">
<h1>About You're in Guernsey...</h1>

<p>
	The You're in Guernsey... web application was built by an islander for islanders and pokes tongue-in-cheek fun at the issues faced by us all but also shouts from the rooftops the things than make the island an amazing place to live.
</p>

<div class="col-xs-12 col-sm-4">
	<%= image_tag 'Vix.jpg', :class => 'img-responsive' %>
</div>

<div class "col-xs-12 col-sm-7 col-sm-offset-1">
	<h2 class="text-center">Victoria Brouard</h2>
	<br />
	<p>
	Victoria Brouard is a fledgling web developer trying to earn her Ruby wings with the help of theFirehoseProject.
	</p>
</div>

</div>

<br class="clear" />
<br />
<br />
<br />